{{!--
    @param id
    @param name
    @param requiresLoginForUser
    @param navUrl
    @param useActions
--}}
<li>
    {{debug}}
    <a class="filter-link" data-id="{{id}}" data-asset-id="{{asset.id}}" href="#">
        <span class="filter-link-sku">{{asset.sku}}</span><br>
        <span class="filter-link-name">{{asset.name}}</span>
    </a>
</li>
