@using System.Globalization
@using QuoteFlow.Infrastructure.Extensions
@using QuoteFlow.Models
@model Asset
@{
    var catalogs = ViewData["Catalogs"] as List<Catalog>;
}
<tr>
    <td>
        <a href="@Url.Asset(Model.Id, Model.Name)">@Model.Name</a>
    </td>
    <td>@Model.SKU</td>
    <td>$@Model.Prices.First().Cost</td>
    <td class="pricing">
        <ul>
            @foreach (var price in Model.Prices)
            {
                <li>
                    <div class="catalog-name">
                        @{
                            string catalogName = "";
                            var catalog = catalogs.Find(c => c.Id == price.CatalogId);
                            if (catalog != null) {
                                catalogName = catalog.Name;
                            }
                        }
                        
                        @if (catalogName.HasValue()) {
                            <span>@catalogName</span>
                        } else {
                            <span>(Catalog not found)</span>
                        }
                    </div>
                    <div class="markup">
                        <span class="heading">Markup</span>
                        <span>@price.Markup.ToString("P", CultureInfo.InvariantCulture)</span>
                    </div>
                    <div class="sell">
                        <span class="heading">Sell Price</span>
                        <span>$@price.Price</span>
                    </div>
                </li>
            }
        </ul>
    </td>
</tr>