@using System.Globalization
@using QuoteFlow.Infrastructure.Extensions
@using QuoteFlow.Models
@model Asset
<tr>
    <td class="name">
        <a href="@Url.Asset(Model.Id, Model.Name)" title="@Model.Name">@Model.Name</a>
    </td>
    <td class="sku">
        <span title="@Model.SKU">@Model.SKU</span>
    </td>
    <td>$@Model.Cost</td>
    <td class="pricing">
        <table class="aui">
            <thead>
                <th></th>
                <th>Markup</th>
                <th>Sell Price</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="catalog-name">
                            @{
                                string catalogName = "";
                                if (Model.Catalog != null) {
                                    catalogName = Model.Catalog.Name;
                                }
                            }

                            @if (catalogName.HasValue()) {
                                <span>@catalogName</span>
                            } else {
                                <span>(Catalog not found)</span>
                            }
                        </div>
                    </td>
                    <td class="markup">
                        <span>@Model.Markup.ToString("P", CultureInfo.InvariantCulture)</span>
                    </td>
                    <td class="sell">
                        <span>$@Model.Price</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>