@using QuoteFlow.Api.Infrastructure.Extensions
@using QuoteFlow.Infrastructure.Extensions
@model QuoteFlow.Api.Models.ViewModels.Customers.CustomersViewModel

@{
    ViewBag.Title = "Customers - QuoteFlow";
}

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main entity-item">
            <h1>
                <span>Customers</span>
            </h1>
            <a class="aui-button aui-button-light" href="@Url.NewCustomer()" autocomplete="off" tabindex="0">Add a new customer</a>
        </div>
    </div>
</header>

<div class="aui-page-panel content-body fixed-right">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            @if (Model.Customers.Any())
            {
                <table class="aui aui-table-interactive contact-list-table">
                    <thead>
                    <tr>
                        <th id="name">Name</th>
                        <th id="email">Email Address</th>
                        <th id="phone">Phone Number</th>
                        <th id="address">Address</th>
                        <th id="created_date">Created</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var customer in Model.Customers)
                    {
                        var address = string.Format("{0} {1}, {2} {3}", customer.Address1, customer.City, customer.State, customer.Zipcode);

                        <tr>
                            <td headers="name">
                                <div title="@customer.FullName">
                                    <a href="@Url.Customer(customer.Id, customer.FullName.UrlFriendly())">@customer.FullName</a>
                                </div>
                            </td>
                            <td headers="email">
                                <div title="@customer.EmailAddress">@customer.EmailAddress</div>
                            </td>
                            <td headers="phone">
                                <div title="@customer.Phone">@customer.Phone</div>
                            </td>
                            <td headers="address">
                                <div title="@address">@address</div>
                            </td>
                            <td headers="created">
                                <div title="@customer.CreationDate.ToString("g")">
                                    @customer.CreationDate.ToRelativeTime()
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <div class="blank-message">
                    <h2>No customers found</h2>
                    <p>
                        No customers have been added yet. <a href="@Url.NewCustomer()">Create one now.</a>
                    </p>
                </div>
            }
        </section>
    </div>
</div>