@using QuoteFlow.Infrastructure.Extensions
@model QuoteFlow.Api.Models.ViewModels.Assets.NewAssetModel
           
@{
    Layout = "../Shared/_FocusedLayout.cshtml";
    ViewBag.Title = "QuoteFlow - New Asset";
}

<h2>Create a new asset</h2>
@using (Html.BeginForm("CreateAsset", "Asset", FormMethod.Post, new { @class = "aui" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="field-group">
            @Html.LabelFor(m => m.CatalogId)
            @Html.DropDownListFor(m => m.CatalogId, Model.Catalogs, new { @class = "select" })
        </div>
        <div class="field-group">
            @Html.LabelFor(m => m.AssetType)
            @Html.EnumDropDownListFor(m => m.AssetType, Model.AssetTypeChoices, "Choose an asset type")
            @Html.ValidationMessageFor(m => m.AssetType)
        </div>
        <div class="field-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "text" })
            <div class="error">@Html.ValidationMessageFor(m => m.Name)</div>
        </div>
        <div class="field-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "textarea long-field" })
        </div>
    </fieldset>

    <div class="buttons-container">
        <div class="buttons">
            <input class="aui-button aui-button-primary" type="submit" id="submit" name="submit" value="Create">
            <a id="cancel" class="aui-button aui-button-link" name="cancel" accesskey="c" href="#">Cancel</a>
        </div>
    </div>
}

@section secondaryScripts {
    <script type="text/javascript">
        AJS.$(document).ready(function() {
            AJS.$('#catalog_expiration_date').datePicker({ 'overrideBrowserDefault': true });
        });
    </script>
}