@using QuoteFlow.Infrastructure.Extensions

@{
    var currentEmailAddress = CurrentUser.UnconfirmedEmailAddress ?? CurrentUser.EmailAddress;
}

<header id="header" role="banner">
    <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
        <div class="aui-header-inner">
            <div class="aui-header-primary">
                <h1 id="logo" class="aui-header-logo aui-header-logo-quoteflow">
                    <a href="@Url.Home()">
                        <span class="aui-header-logo-device">AUI</span>
                    </a>
                </h1>
                <ul class="aui-nav">
                    <li>
                        <a href="#dropdown2-jira3" aria-owns="dropdown2-jira3" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dropdown2-header7">Catalogs<span class="aui-icon-dropdown"></span></a>
                        <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-jira3" aria-hidden="true">
                            <div class="aui-dropdown2-section">
                                <strong>Current Catalog</strong>
                                <ul>
                                    <li><a href="#">Test Catalog 123 (4 members)</a></li>
                                </ul>
                            </div>
                            <div class="aui-dropdown2-section">
                                <strong>Recent Catalogs</strong>
                                <ul>
                                    <li><a href="http://example.com/">Item 6</a></li>
                                    <li><a href="http://example.com/">Item 7</a></li>
                                </ul>
                            </div>
                            <div class="aui-dropdown2-section">
                                <ul class="aui-list-truncate">
                                    <li>
                                        <a href="#" title="View all the catalogs that you can browse" class="active">View All Catalogs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#dropdown2-quotes" aria-owns="dropdown2-quotes" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dropdown2-header8">Quotes<span class="aui-icon-dropdown"></span></a>
                        <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-quotes" aria-hidden="true">
                            <div class="aui-dropdown2-section">
                                <strong>Current Quote</strong>
                                <ul>
                                    <li><a href="#">Test Catalog 123 (4 members)</a></li>
                                </ul>
                            </div>
                            <div class="aui-dropdown2-section">
                                <strong>Recent Catalogs</strong>
                                <ul>
                                    <li><a href="http://example.com/">Item 6</a></li>
                                    <li><a href="http://example.com/">Item 7</a></li>
                                </ul>
                            </div>
                            <div class="aui-dropdown2-section">
                                <ul class="aui-list-truncate">
                                    <li>
                                        <a href="#" title="View all the catalogs that you can browse" class="active">View All Catalogs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a class="aui-button aui-button-primary" href="@Url.NewQuote()">Add a Quote</a></li>
                </ul>
            </div>
            <div class="aui-header-secondary">
                <ul class="aui-nav">
                    <li>
                        <form action="/foo" method="post" class="aui-quicksearch">
                            <label for="quicksearchid" class="assistive">Search</label>
                            <input id="quicksearchid" class="search" type="text" placeholder="Search" name="quicksearchname">
                        </form>
                    </li>
                    <li>
                        @{ Html.RenderPartial("Partials/Header/Help"); }
                    </li>
                    <li>
                        <a href="#dropdown2-header9" aria-owns="dropdown2-header9" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dropdown2-header9">
                            <div class="aui-avatar aui-avatar-small">
                                <div class="aui-avatar-inner">
                                    @Html.Gravatar(currentEmailAddress, 80)
                                </div>
                            </div>
                        </a>
                        <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-header9" style="display: none; top: 40px; min-width: 160px; left: 1213px;" aria-hidden="true">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="aui-dropdown2-section">
                                    <ul>
                                        <li><a href="@Url.Action(MVC.Users.Account())" class="active">Profile</a></li>
                                        <li><a href="http://example.com/">Extensions</a></li>
                                    </ul>
                                </div>
                                <div class="aui-dropdown2-section">
                                    <ul>
                                        <li><a href="@Url.LogOff()">Sign out</a></li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                string returnUrl = ViewData.ContainsKey(Constants.ReturnUrlViewDataKey) ? (string)ViewData[Constants.ReturnUrlViewDataKey] : Request.RawUrl;
                                <div class="aui-dropdown2-section">
                                    <ul>
                                        <li><a href="@Url.LogOn(returnUrl)" class="active">Sign In</a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>