@using QuoteFlow.Api.Models
@using QuoteFlow.Api.Models.ViewModels
@model QuoteFlow.Api.Models.ViewModels.Quotes.QuoteShowModel
           
@{
    ViewBag.Title = string.Format("{0} - QuoteFlow", Model.Quote.Name);
}

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header">
            <div class="aui-page-header-inner">
                <h2>@Model.Quote.Name</h2>

                <ul class="operations-list">
                    <li>
                        <span class="list-label">Created By:</span>
                        <span>@Model.QuoteCreator.FullName</span>
                    </li>
                </ul>
            </div>
        </div>
    </header><!-- .aui-page-header -->

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            @Html.Partial("Partials/Quote/ShowSidebar", new SidebarViewModel<Quote>("overview", Model.Quote))

            <section class="aui-page-panel-content">
                <div class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h2>Overview</h2>
                        </div>
                    </div>
                </div>

                <div class="summary-modules">
                    <div class="aui-group">
                        <div class="aui-item">
                            <div class="module">
                                <!-- Product description module -->
                                <p>@Model.Quote.Description</p>
                            </div>
                            <div class="module">
                                <!-- Product versions module -->
                                <h3>Recent Activity</h3>
                                <div class="blank-message">
                                    <h2>No recent activities found</h2>
                                    <p>
                                        There have been no actions made to this quote. <a href="#">Start adding line items now.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- .aui-page-panel-content -->

            <aside class="aui-page-panel-sidebar">
                <ol class="aui-progress-tracker">
                    <li class="aui-progress-tracker-step aui-progress-tracker-step-current"><span>Build</span></li>
                    <li class="aui-progress-tracker-step"><span>Review</span></li>
                    <li class="aui-progress-tracker-step"><span>Sold</span></li>
                </ol>

                <h3>Members</h3>
                <dl class="meta-list">
                    <dt>Quote Creator</dt>
                    <dd>
                        <a href="#" class="quoteflow-user-name quoteflow-user-avatar quoteflow-user-avatar-small">
                            <span class="aui-avatar aui-avatar-small">
                                <span class="aui-avatar-inner">
                                    @Html.Gravatar(@Model.QuoteCreator.EmailAddress, 24)
                                </span>
                            </span>
                            @Model.QuoteCreator.FullName
                        </a>
                    </dd>
                </dl>
            </aside>
        </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->
</section>
