@using QuoteFlow.Api.Models
@using QuoteFlow.Api.Models.ViewModels
@using QuoteFlow.Infrastructure.Extensions
@model QuoteFlow.Api.Models.ViewModels.Quotes.QuoteShowModel
           
@{
    ViewBag.Title = string.Format("{0} - QuoteFlow", Model.Quote.Name);
    var editQuoteText = Model.Quote.TotalLineItems > 0 ? "Continue editing" : "Get started";
}

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    <div>
                        <h2 style="display: inline-block;">@Model.Quote.Name</h2>
                        <ul class="immediate-operations-list">
                            <li>
                                <a href="@Url.QuoteBuilder(Model.Quote.Id, Model.Quote.Name)" class="aui-button aui-button-light">@editQuoteText</a>
                            </li>
                        </ul>
                    </div>
                    
                    <ul class="operations-list">
                        <li>
                            <span class="list-label">Created By:</span>
                            <span>@Model.QuoteCreator.FullName</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header><!-- .aui-page-header -->

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            @Html.Partial("Partials/Quote/ShowSidebar", new SidebarViewModel<Quote>("overview", Model.Quote))

            <section class="aui-page-panel-content">
                <div class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h2>Overview</h2>
                        </div>
                    </div>
                </div>

                <div class="summary-modules">
                    <div class="aui-group">
                        <div class="aui-item">
                            <div class="module">
                                <!-- Product description module -->
                                <p>@Model.Quote.Description</p>
                            </div>
                            <div class="module">
                                <ol class="aui-progress-tracker" style="width: 100%;">
                                    @foreach (var status in Model.QuoteStatuses)
                                    {
                                        var cssClass = status.OrderNum == Model.Quote.Status
                                            ? "aui-progress-tracker-step aui-progress-tracker-step-current"
                                            : "aui-progress-tracker-step";

                                        <li class="@cssClass"><span>@status.Name</span></li>
                                    }
                                </ol>
                            </div>
                            <div class="module">
                                <!-- Product versions module -->
                                <h3>Recent Activity</h3>
                                <div class="blank-message">
                                    <h2>No recent activities found</h2>
                                    <p>
                                        There have been no actions made to this quote. <a href="@Url.QuoteBuilder(Model.Quote.Id, Model.Quote.Name)">Start adding line items now.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- .aui-page-panel-content -->

            <aside class="aui-page-panel-sidebar">
                <h3>Members</h3>
                <dl class="meta-list">
                    <dt>Quote Creator</dt>
                    <dd>
                        <a href="#" class="quoteflow-user-name quoteflow-user-avatar quoteflow-user-avatar-small">
                            <span class="aui-avatar aui-avatar-small">
                                <span class="aui-avatar-inner">
                                    @Html.Gravatar(@Model.QuoteCreator.EmailAddress, 24)
                                </span>
                            </span>
                            @Model.QuoteCreator.FullName
                        </a>
                    </dd>
                </dl>
            </aside>
        </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->
</section>
