<div class="criteria-wrap">
  {{#if extended}}
    <span class="fieldLabel">{{name}}:</span>&nbsp;
  {{else}}
    {{#unless viewHtml}}
    <span class="fieldLabel">{{name}}:</span>&nbsp;
    {{/unless}}
  {{/if}}
  {{#if viewHtml}}
    {{{viewHtml}}}
  {{else}}
    All
  {{/if}}
</div>
