@model QuoteFlow.Api.Models.ViewModels.Users.Manage.ChangePassword

@{
    Layout = "../Shared/User/_ManageLayout.cshtml";
    ViewBag.Title = "Change password - QuoteFlow";
}

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h2>Change password</h2>
        </div>
    </div>
</header>

<p>Changing your password will log you out of your current session.</p>

@using (Html.BeginForm("SavePassword", "Users", FormMethod.Post, new { @class = "aui" }))
{
    <div class="field-group">
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword, new {@class = "password"})
        <div class="error">@Html.ValidationMessageFor(m => m.OldPassword)</div>
    </div>
    <div class="field-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new {@class = "password" })
        <div class="error">@Html.ValidationMessageFor(m => m.NewPassword)</div>
    </div>
    <div class="field-group">
        @Html.LabelFor(m => m.NewPasswordConfirm)
        @Html.PasswordFor(m => m.NewPasswordConfirm, new {@class = "password" })
        <div class="error">@Html.ValidationMessageFor(m => m.NewPasswordConfirm)</div>
    </div>


    <div class="buttons-container form-footer">
        <div class="buttons">
            <input accesskey="s" class="aui-button aui-button-primary" id="username-rename-submit" name="username-rename-submit" title="Press Alt+s to submit this form" type="submit" value="Rename">
        </div>
    </div>
}
