@using QuoteFlow.Api.Infrastructure.Extensions
@using QuoteFlow.Infrastructure.Extensions
@model QuoteFlow.Api.Models.ViewModels.Contacts.ContactsViewModel

@{
    ViewBag.Title = "Contacts - QuoteFlow";
}

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main entity-item">
            <h1>
                <span>Contacts</span>
            </h1>
            <a class="aui-button aui-button-light" href="@Url.NewContact()" autocomplete="off" tabindex="0">Add a new contact</a>
        </div>
    </div>
</header>

<div class="aui-page-panel content-body fixed-right">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            @if (Model.Contacts.Any())
            {
                <table class="aui aui-table-interactive contact-list-table">
                    <thead>
                    <tr>
                        <th id="name">Name</th>
                        <th id="email">Email Address</th>
                        <th id="phone">Phone Number</th>
                        <th id="address">Address</th>
                        <th id="created_date">Created</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var contact in Model.Contacts)
                    {
                        var address = string.Format("{0} {1}, {2} {3}", contact.Address1, contact.City, contact.State, contact.Zipcode);

                        <tr>
                            <td headers="name">
                                <div title="@contact.FullName">
                                    <a href="@Url.Contact(contact.Id, contact.FullName.UrlFriendly())">@contact.FullName</a>
                                </div>
                            </td>
                            <td headers="email">
                                <div title="@contact.EmailAddress">@contact.EmailAddress</div>
                            </td>
                            <td headers="phone">
                                <div title="@contact.Phone">@contact.Phone</div>
                            </td>
                            <td headers="address">
                                <div title="@address">@address</div>
                            </td>
                            <td headers="created">
                                <div title="@contact.CreationDate.ToString("g")">
                                    @contact.CreationDate.ToRelativeTime()
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <div class="blank-message">
                    <h2>No contacts found</h2>
                    <p>
                        No contacts have been added yet. <a href="@Url.NewContact()">Create one now.</a>
                    </p>
                </div>
            }
        </section>
    </div>
</div>