@{ ViewBag.Title = "QuoteFlow - New Contact"; }
@model QuoteFlow.Models.ViewModels.NewContactModel

<div id="catalog-create" class="">
    <header>
        <h3>Create a new contact</h3>
    </header>
    <section class="row form-container">
        @using (Html.BeginForm("CreateContact", "Contact", FormMethod.Post, new {@class = "span7 form-horizontal"})) {
            @Html.AntiForgeryToken()

            <div class="control-group">
                @Html.LabelFor(mm => mm.FirstName, new { @class = "control-label", @for = "asset_first_name" })
                <div class="controls">
                    @Html.TextBoxFor(mm => mm.FirstName, new { @id = "asset_first_name", @class = "span5" })
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(mm => mm.LastName, new { @class = "control-label", @for = "asset_last_name" })
                <div class="controls">
                    @Html.TextBoxFor(mm => mm.LastName, new { @id = "asset_last_name", @class = "span5" })
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(mm => mm.Email, new { @class = "control-label", @for = "asset_email" })
                <div class="controls">
                    @Html.TextAreaFor(mm => mm.Email, new { @id = "asset_email", @class = "span5" })
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(mm => mm.PhoneNumber, new { @class = "control-label", @for = "asset_phonenum" })
                <div class="controls">
                    @Html.TextBoxFor(mm => mm.PhoneNumber, new { @id = "asset_phonenum", @class = "span5" })
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(mm => mm.Organization, new { @class = "control-label", @for = "asset_organization" })
                <div class="controls">
                    @Html.TextBoxFor(mm => mm.Organization, new { @id = "asset_organization", @class = "span5" })
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(mm => mm.Title, new { @class = "control-label", @for = "asset_title" })
                <div class="controls">
                    @Html.TextBoxFor(mm => mm.Title, new { @id = "asset_title", @class = "span5" })
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(mm => mm.Address1, new { @class = "control-label", @for = "asset_address1" })
                <div class="controls">
                    @Html.TextBoxFor(mm => mm.Address1, new { @id = "asset_address1", @class = "span5" })
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(mm => mm.Address2, new { @class = "control-label", @for = "asset_address2" })
                <div class="controls">
                    @Html.TextBoxFor(mm => mm.Address2, new { @id = "asset_address2", @class = "span5" })
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(mm => mm.City, new { @class = "control-label", @for = "asset_city" })
                <div class="controls">
                    @Html.TextBoxFor(mm => mm.City, new { @id = "asset_city", @class = "span5" })
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(mm => mm.State, new { @class = "control-label", @for = "asset_state" })
                <div class="controls">
                    @Html.TextBoxFor(mm => mm.State, new { @id = "asset_state", @class = "span5" })
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(mm => mm.Country, new { @class = "control-label", @for = "asset_country" })
                <div class="controls">
                    @Html.TextBoxFor(mm => mm.Country, new { @id = "asset_country", @class = "span5" })
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(mm => mm.Zipcode, new { @class = "control-label", @for = "asset_zipcode" })
                <div class="controls">
                    @Html.TextBoxFor(mm => mm.Zipcode, new { @id = "asset_zipcode", @class = "span5" })
                </div>
            </div>
            
            <div class="control-group buttons-container">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Create Asset</button>
                    <a class="cancel" href="/">Cancel</a>
                </div>
            </div>
        }

        <div class="sidebar span4">
            <a href="https://confluence.atlassian.com/display/BITBUCKET/bitbucket+101" class="help-link doc-101" target="_blank">
                <strong>New to QuoteFlow?</strong>
                Learn the basics of using Git and Mercurial by exploring the Bitbucket 101.
            </a>
            <a href="/account/create-team/" class="help-link team-pitch">
                <strong>Working in a team?</strong>
                Create a team account to consolidate your repos and organize your team's work
            </a>
        </div>
    </section>
</div>