@using QuoteFlow.Infrastructure.Extensions
@model QuoteFlow.Models.ViewModels.CatalogShowModel

@{
    var catalogName = Model.Catalog.Name;
    ViewBag.Title = "QuoteFlow - " + catalogName;
}

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header">
            <div class="aui-page-header-inner">
                <h1 style="float:left;">@Model.Catalog.Name</h1>
                <ul class="operations-list">
                    <li>
                        <span class="list-label">Owner:</span>
                        <a href="#">@Model.Catalog.Creator.FullName</a>
                    </li>
                    <li><span class="list-label">Category:</span> <a href="/secure/BrowseProjects.jspa#10031">Atlassian Products</a></li>
                    <li><span class="list-label">URL:</span> <a id="pd-url" href="http://www.atlassian.com/stash" target="_blank">http://www.atlassian.com/stash</a></li>
                </ul>
                <div class="header-side-buttons">
                    <a href="#" class="aui-button" title="">Download original</a>
                </div>
            </div>
        </div>
    </header><!-- .aui-page-header -->

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <div class="aui-page-panel-nav">
                <nav class="aui-navgroup aui-navgroup-vertical">
                    <div class="aui-navgroup-inner">
                        <ul class="aui-nav">
                            <li class="aui-nav-selected"><a href="#">Nav item</a></li>
                            <li><a href="#">Nav item</a></li>
                        </ul>
                        <div class="aui-nav-heading"><strong>Nav title</strong></div>
                        <ul class="aui-nav">
                            <li><a href="#">Nav item</a></li>
                            <li><a href="#">Nav item</a></li>
                            <li><a href="#">Nav item</a></li>
                        </ul>
                        <div class="aui-nav-heading"><strong>Nav title</strong></div>
                        <ul class="aui-nav">
                            <li><a href="#">Nav item</a></li>
                            <li><a href="#">Nav item</a></li>
                            <li><a href="#">Nav item</a></li>
                        </ul>
                        <div class="aui-nav-heading"><strong>Nav title</strong></div>
                        <ul class="aui-nav">
                            <li><a href="#">Nav item</a></li>
                            <li><a href="#">Nav item</a></li>
                        </ul>
                    </div>
                </nav><!-- .aui-navgroup -->
            </div><!-- .aui-page-panel-nav -->

            <section class="aui-page-panel-content">

                <h2>Nav and content layout</h2>

                <h3>Headline</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

                <ul>
                    <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
                    <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                    <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                    <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
                </ul>

            </section><!-- .aui-page-panel-content -->

            <aside class="aui-page-panel-sidebar">
                <h3>Headline</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            </aside>
        </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->

</section>

<ul>
    @foreach (var asset in Model.Assets) {
        <li>
            <a href="/@asset.CatalogId/@catalogName.UrlFriendly()/asset/@asset.Id/@asset.Name.UrlFriendly()">
                <span class="catalog-name" title="@asset.Name">@asset.Name</span>
                <span class="catalog-name" title="@asset.Name">@asset.Manufacturer.Name</span>
            </a>
        </li>
    }
</ul>