@using QuoteFlow.Api.Models
@using QuoteFlow.Api.Models.ViewModels
@using QuoteFlow.Api.Models.ViewModels.Catalogs
@using QuoteFlow.Infrastructure.Extensions
@using QuoteFlow.Infrastructure.Helpers
@model CatalogShowAssetsModel

@{
    ViewBag.Title = @Model.Catalog.Name + " Assets - QuoteFlow";
}

<section id="content" role="main">
    @Html.Partial("Partials/Catalog/Header", new CatalogHeader(Model.CatalogCreator, Model.Catalog))

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            @Html.Partial("Partials/Catalog/ShowSidebar", new SidebarViewModel<Catalog>("assets", Model.Catalog))

            <section class="aui-page-panel-content">
                <div class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h2>Assets <a href="@Url.NewAsset(Model.Catalog.Id)" class="aui-button">Create Asset</a></h2>
                        </div>
                    </div>
                </div>

                @if (Model.Assets.TotalCount > 0)
                {
                    <table class="aui aui-table-interactive catalog-assets">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Part Number</th>
                                <th>Cost</th>
                                <th>Markup</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var asset in Model.Assets) {
                                    Html.RenderPartial("Partials/Catalog/AssetRow", asset, new ViewDataDictionary {
                                        { "Catalogs", Model.Catalogs },
                                        { "CurrentCatalogId", Model.Catalog.Id }
                                    });
                                }
                            }
                        </tbody>
                    </table>

                    @UIHelpers.PageNumber(Model.PaginationUrl, Model.Assets, "aui-nav aui-nav-pagination")
                }
            </section><!-- .aui-page-panel-content -->
        </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->
</section>
