@using QuoteFlow.Infrastructure.Extensions
@model QuoteFlow.Models.ViewModels.CatalogShowModel

@{
    var catalogName = Model.Catalog.Name;
    ViewBag.Title = "QuoteFlow - " + catalogName;
}

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header">
            <div class="aui-page-header-inner">
                <h1>@Model.Catalog.Name</h1>
                
                <ul class="operations-list">
                    <li>
                        <span class="list-label">Owner:</span>
                        @if (Model.CatalogCreator == null)
                        {
                            <span>(User not found)</span>
                        }
                        else
                        {
                            <a href="#" class="quoteflow-user-name quoteflow-user-avatar">
                                <div class="aui-avatar aui-avatar-xsmall">
                                    <div class="aui-avatar-inner">
                                        @Html.Gravatar(@Model.CatalogCreator.EmailAddress, 16)
                                    </div>
                                </div>
                                @Model.CatalogCreator.FullName
                            </a>
                        }
                    </li>
                </ul>
               
                <div class="header-side-buttons">
                    <a href="#" class="aui-button" title="">Download original</a>
                </div>
            </div>
        </div>
    </header><!-- .aui-page-header -->

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <div class="aui-page-panel-nav">
                <nav class="aui-navgroup aui-navgroup-vertical">
                    <div class="aui-navgroup-inner">
                        <ul class="aui-nav">
                            <li class="aui-nav-selected"><a href="@Url.Catalog(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly())">Summary</a></li>
                            <li><a href="@Url.CatalogAssets(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly())">Assets</a></li>
                            <li><a href="@Url.CatalogImportResults(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly())">Import Results</a></li>
                            <li><a href="@Url.CatalogVersions(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly())">Versions</a></li>
                            <li><a href="#">Change Log</a></li>
                        </ul>
                    </div>
                </nav><!-- .aui-navgroup -->
            </div><!-- .aui-page-panel-nav -->

            <section class="aui-page-panel-content">
                <div class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h2>Summary</h2>
                        </div>
                    </div>
                </div>
            
                <div class="summary-modules">
                    <div class="aui-group">
                        <div class="aui-item">
                            <div class="module">
                                <p>@Model.Catalog.Description</p>
                            </div>
                            <div class="module">
                                <p>Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>

                
            </section><!-- .aui-page-panel-content -->

            <aside class="aui-page-panel-sidebar">
                <h3>Headline</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            </aside>
        </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->
</section>