@using QuoteFlow.Api.Infrastructure.Extensions
@using QuoteFlow.Infrastructure.Extensions
@using QuoteFlow.Infrastructure.Helpers
@model QuoteFlow.Api.Models.ViewModels.CatalogShowImportSummaryModel

@{
    ViewBag.Title = @Model.Catalog.Name + " Import Summary - QuoteFlow";
}

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header">
            <div class="aui-page-header-inner">
                <h2>@Model.Catalog.Name</h2>

                <ul class="operations-list">
                    <li>
                        <span class="list-label">Owner:</span>
                        @if (Model.CatalogCreator == null) {
                            <span>(User not found)</span>
                        } else {
                            <a href="#" class="quoteflow-user-name quoteflow-user-avatar">
                                <div class="aui-avatar aui-avatar-xsmall">
                                    <div class="aui-avatar-inner">
                                        @Html.Gravatar(@Model.CatalogCreator.EmailAddress, 16)
                                    </div>
                                </div>
                                @Model.CatalogCreator.FullName
                            </a>
                        }
                    </li>
                </ul>

                <div class="header-side-buttons">
                    <a href="#" class="aui-button" title="">Download original</a>
                </div>
            </div>
        </div>
    </header><!-- .aui-page-header -->

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <div class="aui-page-panel-nav">
                <nav class="aui-navgroup aui-navgroup-vertical">
                    <div class="aui-navgroup-inner">
                        <ul class="aui-nav">
                            <li><a href="@Url.Catalog(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly())">Summary</a></li>
                            <li><a href="@Url.CatalogAssets(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly())">Assets</a></li>
                            <li class="aui-nav-selected"><a href="@Url.CatalogImportResults(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly())">Import Results</a></li>
                            <li><a href="@Url.CatalogVersions(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly())">Versions</a></li>
                            <li><a href="#">Change Log</a></li>
                        </ul>
                    </div>
                </nav><!-- .aui-navgroup -->
            </div><!-- .aui-page-panel-nav -->

            <section class="aui-page-panel-content">
                <div class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h2>Import Results</h2>
                            <h5>Imported @Model.Catalog.CreationDate.ToRelativeTime()</h5>
                        </div>
                        <div class="aui-page-header-actions" style="float:right;">
                            <ul class="summary-list">
                                <li class="success">
                                    <a href="@Url.CatalogImportResultsSuccess(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly(), -1)" title="View only successfully imported rows">
                                        <span class="aui-icon aui-icon-small aui-iconfont-approve"></span>
                                        <span class="count">@Model.TotalSuccess</span> Rows Imported
                                    </a>
                                </li>
                                <li class="skipped">
                                    <a href="@Url.CatalogImportResultsSkipped(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly(), -1)" title="View only skipped rows">
                                        <span class="aui-icon aui-icon-small aui-iconfont-devtools-task-cancelled"></span>
                                        <span class="count">@Model.TotalSkipped</span> Rows Skipped
                                    </a>
                                </li>
                                <li class="failed">
                                    <a href="@Url.CatalogImportResultsFailed(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly(), -1)" title="View only failed rows">
                                        <span class="aui-icon aui-icon-small aui-iconfont-error"></span>
                                        <span class="count">@Model.TotalFailed</span> Rows Failed
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            
                @if (Model.Summary.TotalCount > 0)
                {
                    <table class="aui aui-table-interactive catalog-import-summary">
                        <thead>
                            <tr>
                                <th>Row #</th>
                                <th></th>
                                <th>Result</th>
                                <th>Asset Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var summary in Model.Summary)
                            {
                                if (summary.Result == "Success")
                                {
                                    @Html.Partial("Partials/Catalog/ImportResultSuccessRow", summary)
                                }
                                if (summary.Result == "Skip")
                                {
                                    @Html.Partial("Partials/Catalog/ImportResultSkippedRow", summary)
                                }
                                if (summary.Result == "Failure")
                                {
                                    @Html.Partial("Partials/Catalog/ImportResultFailureRow", summary)
                                }
                            }
                        </tbody>
                    </table>
                    
                    @UIHelpers.PageNumber(Model.PaginationUrl, Model.Summary, "aui-nav aui-nav-pagination")
                }
            </section><!-- .aui-page-panel-content -->
        </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->
</section>
