@using QuoteFlow.Api.Models
@using QuoteFlow.Api.Models.ViewModels
@using QuoteFlow.Infrastructure.Extensions
@using QuoteFlow.Infrastructure.Helpers
@model QuoteFlow.Api.Models.ViewModels.CatalogShowAssetsModel

@{
    ViewBag.Title = @Model.Catalog.Name + " Assets - QuoteFlow";
}

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header">
            <div class="aui-page-header-inner">
                <h2>@Model.Catalog.Name</h2>

                <ul class="operations-list">
                    <li>
                        <span class="list-label">Owner:</span>
                        @if (Model.CatalogCreator == null)
                        {
                            <span>(User not found)</span>
                        }
                        else
                        {
                            <a href="#" class="quoteflow-user-name quoteflow-user-avatar">
                                <div class="aui-avatar aui-avatar-xsmall">
                                    <div class="aui-avatar-inner">
                                        @Html.Gravatar(@Model.CatalogCreator.EmailAddress, 16)
                                    </div>
                                </div>
                                @Model.CatalogCreator.FullName
                            </a>
                        }
                    </li>
                </ul>

                <div class="header-side-buttons">
                    <a href="#" class="aui-button" title="">Download original</a>
                </div>
            </div>
        </div>
    </header><!-- .aui-page-header -->

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            @Html.Partial("Partials/Catalog/ShowSidebar", new SidebarViewModel<Catalog>("assets", Model.Catalog))

            <section class="aui-page-panel-content">
                <div class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h2>Assets</h2>
                        </div>
                    </div>
                </div>

                @if (Model.Assets.TotalCount > 0)
                {
                    <table class="aui aui-table-interactive catalog-assets">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Part Number</th>
                                <th>Cost</th>
                                <th>Markup</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var asset in Model.Assets) {
                                    Html.RenderPartial("Partials/Catalog/AssetRow", asset, new ViewDataDictionary {
                                        { "Catalogs", Model.Catalogs },
                                        { "CurrentCatalogId", Model.Catalog.Id }
                                    });
                                }
                            }
                        </tbody>
                    </table>

                    @UIHelpers.PageNumber(Model.PaginationUrl, Model.Assets, "aui-nav aui-nav-pagination")
                }
            </section><!-- .aui-page-panel-content -->
        </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->
</section>
