@using QuoteFlow.Api.Infrastructure.Extensions
@using QuoteFlow.Api.Models
@using QuoteFlow.Api.Models.ViewModels
@using QuoteFlow.Infrastructure.Extensions
@model CatalogShowModel

@{
    var catalogName = Model.Catalog.Name;
    ViewBag.Title = catalogName + " - QuoteFlow";
}

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header">
            <div class="aui-page-header-inner">
                <h2>@Model.Catalog.Name</h2>
               
                <div class="header-side-buttons">
                    <a href="#" class="aui-button" title="">Download original</a>
                </div>
            </div>
        </div>
    </header><!-- .aui-page-header -->

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            @Html.Partial("Partials/Catalog/ShowSidebar", new SidebarViewModel<Catalog>("overview", Model.Catalog))

            <section class="aui-page-panel-content">
                <div class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h2>Summary</h2>
                        </div>
                    </div>
                </div>
            
                <div class="summary-modules">
                    <div class="aui-group">
                        <div class="aui-item">
                            <div class="module">
                                <p>@Model.Catalog.Description</p>
                            </div>
                            <div class="module">
                                <h2>Activity</h2>
                                @if (Model.ActivityHistory.Any())
                                {
                                    @Html.Partial("Partials/Auditing/ActivityFeed", Model.ActivityHistory)
                                }
                                else
                                {
                                    <div class="blank-message">
                                        <h2>No recent activities found</h2>
                                        <p>
                                            There have been no activites related to this catalog.
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- .aui-page-panel-content -->

            <aside class="aui-page-panel-sidebar">
                <h3>Quick Details</h3>
                <dl class="catalog-attrs">
                    <dt>Total Assets</dt>
                    <dd>@Model.TotalAssets.ToString("N0")</dd>

                    <dt>Catalog Owner</dt>
                    <dd>
                        <a href="@Url.UserProfile(Model.CatalogCreator.Username)" class="quoteflow-user-name quoteflow-user-avatar">
                            <span class="aui-avatar aui-avatar-xsmall">
                                <span class="aui-avatar-inner">
                                    @Html.Gravatar(@Model.CatalogCreator.EmailAddress, 16)
                                </span>
                            </span>
                            @Model.CatalogCreator.FullName
                        </a>
                    </dd>

                    <dt>Created Date</dt>
                    <dd>@Model.Catalog.CreationDate.ToLocalTime().ToString("d")</dd>

                    <dt>Last Updated</dt>
                    <dd>@Model.Catalog.LastUpdated.ToLocalTime().ToRelativeTime()</dd>
                </dl>
            </aside>
        </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->
</section>