@using QuoteFlow.Infrastructure.Extensions
@using QuoteFlow.Infrastructure.Helpers
@model QuoteFlow.Models.ViewModels.CatalogShowImportSummaryModel

@{
    ViewBag.Title = @Model.Catalog.Name + " Import Summary - QuoteFlow";
}

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header">
            <div class="aui-page-header-inner">
                <h1>@Model.Catalog.Name</h1>

                <ul class="operations-list">
                    <li>
                        <span class="list-label">Owner:</span>
                        @if (Model.CatalogCreator == null) {
                            <span>(User not found)</span>
                        } else {
                            <a href="#" class="quoteflow-user-name quoteflow-user-avatar">
                                <div class="aui-avatar aui-avatar-xsmall">
                                    <div class="aui-avatar-inner">
                                        @Html.Gravatar(@Model.CatalogCreator.EmailAddress, 16)
                                    </div>
                                </div>
                                @Model.CatalogCreator.FullName
                            </a>
                        }
                    </li>
                </ul>

                <div class="header-side-buttons">
                    <a href="#" class="aui-button" title="">Download original</a>
                </div>
            </div>
        </div>
    </header><!-- .aui-page-header -->

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <div class="aui-page-panel-nav">
                <nav class="aui-navgroup aui-navgroup-vertical">
                    <div class="aui-navgroup-inner">
                        <ul class="aui-nav">
                            <li><a href="@Url.Catalog(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly())">Summary</a></li>
                            <li><a href="@Url.CatalogAssets(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly())">Assets</a></li>
                            <li class="aui-nav-selected"><a href="@Url.CatalogImportResults(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly())">Import Results</a></li>
                            <li><a href="@Url.CatalogVersions(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly())">Versions</a></li>
                            <li><a href="#">Change Log</a></li>
                        </ul>
                    </div>
                </nav><!-- .aui-navgroup -->
            </div><!-- .aui-page-panel-nav -->

            <section class="aui-page-panel-content">
                <div class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h2>Import Results</h2>
                        </div>
                        <div class="aui-page-header-actions" style="float:right;">
                            <div class="summary-chart aui-item">
                                <strong class="assistive">Summary Chart</strong>
                                <div class="percentageGraph">
                                    <a class="barSection" style="width:50%;border-color:#009900;" href="/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+STASH+AND+fixVersion+%3D+2.11.8+AND+resolution+in+%28Fixed%2C+%22Won%27t+Fix%22%2C+Duplicate%2C+Incomplete%2C+%22Cannot+Reproduce%22%2C+Invalid%2C+%22Resolved+Locally%22%2C+%22Handled+by+Support%22%2C+Answered%2C+%22Timed+out%22%2C+Obsolete%2C+%22Not+a+bug%22%2C+%22Unsolved+Mysteries%22%2C+Purchased%2C+%22Tracked+Elsewhere%22%2C+Deployed%2C+Done%2C+%22Support+Request%22%29" title="Resolved Issues - 50% (1 issues)"><span>Resolved Issues - 50%</span></a>
                                    <a class="barSection" style="width:50%;border-color:#cc0000;" href="/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+STASH+AND+fixVersion+%3D+2.11.8+AND+resolution+%3D+Unresolved" title="Unresolved Issues - 50% (1 issues)"><span>Unresolved Issues - 50%</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                @if (Model.Summary.TotalCount > 0)
                {
                    <table class="aui aui-table-interactive">
                        <thead>
                            <tr>
                                <th>Row #</th>
                                <th></th>
                                <th>Result</th>
                                <th>Asset Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var summary in Model.Summary)
                            {
                                if (summary.Result == "Success")
                                {
                                    @Html.Partial("Partials/Catalog/ImportResultSuccessRow", summary)
                                }
                                if (summary.Result == "Skip")
                                {
                                    @Html.Partial("Partials/Catalog/ImportResultSkippedRow", summary)
                                }
                                if (summary.Result == "Failure")
                                {
                                    @Html.Partial("Partials/Catalog/ImportResultFailureRow", summary)
                                }
                            }
                        </tbody>
                    </table>

                    var url = Url.CatalogImportResults(Model.Catalog.Id, Model.Catalog.Name.UrlFriendly(), -1);
                    @UIHelpers.PageNumber(url, Model.Summary, "aui-nav aui-nav-pagination")
                }
            </section><!-- .aui-page-panel-content -->
        </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->
</section>
