@using QuoteFlow.Infrastructure.Extensions
@model QuoteFlow.Api.Models.ViewModels.Manufacturers.ManufacturerShowModel

@{
    ViewBag.Title = "QuoteFlow - " + Model.Manufacturer.Name;
}

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            @if (Model.Manufacturer.Logo != null)
            {
                <div class="aui-page-header-image">
                    <span id="13310" class="aui-avatar aui-avatar-large aui-avatar-project">
                        <span class="aui-avatar-inner">
                            <img id="project-avatar" alt="@Model.Manufacturer.Name" src="@Url.ManufacturerLogo(Model.Manufacturer.Id, Model.Manufacturer.Name)">
                        </span>
                    </span>
                </div>
                <!-- .aui-page-header-image -->
            }
            
            <div class="aui-page-header-main">
                <h1>@Model.Manufacturer.Name</h1>

                <ul class="operations-list">
                    <li>
                        <span class="list-label">Created On:</span>
                        <span>@Model.Manufacturer.CreationDate.ToLongDateString()</span>
                    </li>
                    <li>
                        <span class="list-label">Last Updated:</span>
                        <span>@Model.Manufacturer.LastUpdated.ToLongDateString()</span>
                    </li>
                </ul>
            </div>

            <div class="aui-page-header-actions">
                <a href="@Url.EditManufacturer(@Model.Manufacturer.Id, @Model.Manufacturer.Name)" class="aui-button" title="">Edit</a>
            </div>
        </div>
    </header><!-- .aui-page-header -->

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <div class="aui-page-panel-nav">
                <nav class="aui-navgroup aui-navgroup-vertical">
                    <div class="aui-navgroup-inner">
                        <ul class="aui-nav">
                            <li class="aui-nav-selected"><a href="@Url.Manufacturer(Model.Manufacturer.Id, Model.Manufacturer.Name)">Summary</a></li>
                            <li><a href="@Url.ManufacturerAssets(Model.Manufacturer.Id, Model.Manufacturer.Name)">Assets</a></li>
                        </ul>
                    </div>
                </nav><!-- .aui-navgroup -->
            </div><!-- .aui-page-panel-nav -->

            <section class="aui-page-panel-content">
                <div class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h2>Summary</h2>
                        </div>
                    </div>
                </div>

                <div class="summary-modules">
                    <div class="aui-group">
                        <div class="aui-item">
                            <div class="module">
                                <p>@Model.Manufacturer.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->
</section>
