{{!-- A row in the asset list. --}}
<li data-id="{{id}}" title="{{name}}">
    <a class="splitview-issue-link" data-asset-id="{{id}}" href="{{AssetUrl}}">
        <span class="issue-link-sku">{{sku}}</span><br />
        <span class="issue-link-summary">{{name}}</span>
    </a>
</li>
