@using QuoteFlow.Infrastructure.Extensions
@using QuoteFlow.Infrastructure.Helpers
@model QuoteFlow.Models.ViewModels.Assets.InteractiveAssetNavigatorViewModel

<form class="navigator-search query-component generic-styled">
    <div class="aui-group">
        <div class="aui-item search-wrap">
            <div class="search-container" data-mode="basic">
                <div class="search-field-container">
                    <div class="search-criteria-container">
                        <div class="search-criteria">
                            <ul class="criteria-list">
                                <li data-id="project" original-title="">
                                    <button type="button" data-id="catalog" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" aria-disabled="true">
                                        <div class="criteria-wrap">
                                            <div class="searcherValue">
                                                <span id="fieldpid" class="fieldValue">Catalogs</span>
                                            </div>
                                        </div>
                                    </button><a href="#" class="remove-filter" title="Remove criterion" tabindex="-1" style="display: none;"><span class="aui-icon aui-icon-small aui-iconfont-remove"></span></a>
                                </li>
                                <li data-id="issuetype" original-title=""><button type="button" data-id="issuetype" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger"><div class="criteria-wrap"><span class="fieldLabel">Type:</span> All</div></button><a href="#" class="remove-filter" title="Remove criterion" tabindex="-1" style="display: none;"><span class="aui-icon aui-icon-small aui-iconfont-remove"></span></a></li>
                                <li data-id="status" original-title=""><button type="button" data-id="status" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger"><div class="criteria-wrap"><span class="fieldLabel">Status:</span> All</div></button><a href="#" class="remove-filter" title="Remove criterion" tabindex="-1" style="display: none;"><span class="aui-icon aui-icon-small aui-iconfont-remove"></span></a></li>
                                <li class="text-query"><div class="text-query-container"><input class="search-entry text ajs-dirty-warning-exempt" id="searcher-query" type="text" name="text" placeholder="Contains text"></div></li>
                                <li class="criteria-actions">
                                    <button type="button" class="add-criteria aui-button aui-button-subtle aui-dropdown2-trigger" original-title="Add more fields to search with" style="display: inline-block;">More</button>
                                </li>
                                <li><button class="aui-button aui-button-subtle search-button" type="button" original-title="Search for issues"><span class="aui-icon aui-icon-small aui-iconfont-search">Search</span></button></li>
                                <li>
                                    <button class="aui-button" type="button">Save as</button>
                                </li>
                            </ul>
                        </div><div class="search-criteria-extended"><ul class="criteria-list"></ul></div>
                    </div>
                </div>
            </div>
            <div class="save-filter-controls"></div>
        </div>
    </div>
</form>

<div class="navigator-group">
    <div class="results-panel navigator-item">
        <div class="navigator-content skinny" data-issue-table-model-state="" data-session-search-state="" data-selected-issue="{&quot;id&quot;:330257,&quot;key&quot;:&quot;STASH-4640&quot;}" data-highlighted-issue-id="" style="">
            <div class="aui-group split-view">
                <div class="aui-item list-results-panel" style="width: 267px;">
                    <div class="list-panel">
                        <div class="list-ordering">
                            <a class="order-by" title="Order by"><span>Order by</span></a>
                            <a class="order-options" title="Select the field that issues are ordered by.">Select the field that issues are ordered by.</a>
                        </div>
                        <div class="list-content" style="height: 795px;">
                            <ol class="asset-list">
                                @foreach (var asset in Model.Assets) {
                                    <li data-id="@asset.Id" title="@asset.Name">
                                        <a class="splitview-asset-link" href="@Url.Asset(asset.Id, asset.Name)">
                                            <img height="16" width="16" alt="@asset.Manufacturer.Name" title="" src="/images/icons/issuetypes/improvement.png">
                                            <span>@asset.SKU</span>
                                            <br />
                                            <span class="asset-link-title">@asset.Name</span>
                                        </a>
                                    </li>
                                }
                            </ol>
                        </div>
                    </div>
                    <div class="end-of-stable-message"></div>
                    <div class="aui-group pagination-view count-pagination">
                        <a href="#" class="refresh-table" original-title="Refresh results">Refresh</a>
                        <div class="pagination aui-item" data-displayable-total="6">
                        </div>
                    </div>
                    <div class="ui-sidebar ui-draggable" style="top: 153px; left: 483px; height: 870px;"></div>
                </div>
                
                <!-- Asset details -->
                <div class="aui-item detail-panel navigator-issue-only active">
                    @Html.Partial("Partials/Asset/AssetDetails", Model.CurrentAssetDetailsModel)
                </div>
            </div>
        </div>
    </div>
</div>