@using QuoteFlow.Infrastructure.Extensions
@using QuoteFlow.Infrastructure.Helpers
@model QuoteFlow.Api.Models.ViewModels.Assets.InteractiveAssetNavigatorViewModel

<form class="navigator-search query-component">
    <div class="aui-group">
        <div class="aui-item search-wrap">
            <div class="search-container" data-mode="basic">
                <div class="search-field-container">
                    <div class="search-criteria-container">
                        <div class="search-criteria">
                            <ul class="criteria-list">
                                <li data-id="catalog" class="catalog">
                                    <button type="button" data-id="catalog" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" aria-disabled="true">
                                        <div class="criteria-wrap">
                                            <div class="searcherValue">
                                                <span id="fieldpid" class="fieldValue">Catalogs</span>
                                            </div>
                                        </div>
                                    </button>
                                    <a href="#" class="remove-filter" title="Remove criterion" tabindex="-1" style="display: none;">
                                        <span class="aui-icon aui-icon-small aui-iconfont-remove"></span>
                                    </a>
                                </li>
                                <li data-id="manufacturer" class="manufacturer">
                                    <button type="button" data-id="manufacturers" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" aria-owns="manufacturer-dropdown">
                                        <div class="criteria-wrap"><span class="fieldLabel">Manufacturer:</span> <span class="selected-criteria">All</span></div>
                                    </button>
                                </li>
                                <li data-id="creator" class="creator">
                                    <button type="button" data-id="creator" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" aria-owns="creators-dropdown">
                                        <div class="criteria-wrap"><span class="fieldLabel">Creator:</span> All</div>
                                    </button>
                                    <a href="#" class="remove-filter" title="Remove criterion" tabindex="-1" style="display: none;">
                                        <span class="aui-icon aui-icon-small aui-iconfont-remove"></span>
                                    </a>
                                </li>
                                <li class="text-query">
                                    <div class="text-query-container">
                                        <input class="search-entry text ajs-dirty-warning-exempt" id="searcher-query" type="text" name="text" placeholder="Contains text">
                                    </div>
                                </li>
                                <li class="criteria-actions">
                                    <button type="button" class="add-criteria aui-button aui-button-subtle aui-dropdown2-trigger" original-title="Add more fields to search with" style="display: inline-block;">More</button>
                                </li>
                                <li>
                                    <button class="aui-button aui-button-subtle search-button" type="button" original-title="Search for issues">
                                        <span class="aui-icon aui-icon-small aui-iconfont-search">Search</span>
                                    </button>
                                </li>
                                <li>
                                    <button class="aui-button aui-button-light" type="button">Save as</button>
                                </li>
                            </ul>
                        </div>
                        <div class="search-criteria-extended"><ul class="criteria-list"></ul></div>
                    </div>
                </div>
            </div>
            <div class="save-filter-controls"></div>
        </div>
    </div>
</form>

<div class="navigator-group">
    <div class="results-panel navigator-item">
        <div class="navigator-content skinny" data-issue-table-model-state="" data-session-search-state="" data-selected-issue="{&quot;id&quot;:330257,&quot;key&quot;:&quot;STASH-4640&quot;}" data-highlighted-issue-id="" style="">
            <div class="aui-group split-view">
                <div class="aui-item list-results-panel">
                    <div class="list-panel">
                        <div class="list-ordering">
                            <a class="order-by" title="Order by"><span>Order by</span></a>
                            <a class="order-options" title="Select the field that issues are ordered by.">Select the field that issues are ordered by.</a>
                        </div>
                        <div class="list-content" style="height: 795px;">
                            <ol class="asset-list">
                                @foreach (var asset in Model.Assets)
                                {
                                    <li data-id="@asset.Id" title="@asset.Name">
                                        <a class="splitview-asset-link" href="@Url.Asset(asset.Id, asset.Name)">
                                            <img height="16" width="16" alt="@asset.Manufacturer.Name" title="" src="/images/icons/issuetypes/improvement.png">
                                            <span>@asset.SKU</span>
                                            <br />
                                            <span class="asset-link-title">@asset.Name</span>
                                        </a>
                                    </li>
                                }
                            </ol>
                        </div>
                    </div>
                    <div class="end-of-stable-message"></div>
                    <div class="aui-group pagination-view count-pagination">
                        <div class="refresh-container aui-item">
                            <span>
                                <a href="#" class="refresh-table" title="Refresh results">Refresh results</a>
                            </span>
                        </div>
                        <div class="pagination-container aui-item">
                            <div class="pagination">
                                @UIHelpers.PageNumber(Model.PaginationUrl, Model.Assets, "aui-nav aui-nav-pagination")
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Asset details -->
                <div class="aui-item detail-panel active">
                    @Html.Partial("Partials/Asset/AssetDetails", Model.CurrentAssetDetailsModel)
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Toolbar popups -->
<div id="manufacturer-dropdown" class="aui-dropdown2 aui-style-default ajs-layer" data-dropdown2-alignment="left">
    <form class="aui top-label aui-popup-content" id="manufacturers_filter">
        <div class="field-group">
            <div class="check-list-select">
                <div class="check-list-field-container">
                    <input autocomplete="off" placeholder="Find Manufacturers..." class="aui-field check-list-field" id="searcher-type-input" wrap="off">
                    <span class="aui-icon icon noloading">
                        <span>More</span>
                    </span>
                </div>
                <div class="aui-list">
                    <div class="aui-list-scroll" tabindex="-1">
                        <h5>All Manufacturers</h5>
                        <ul class="aui-list-section">
                            @foreach (var manufacturer in Model.Manufacturers.OrderBy(m => m.Name))
                            {
                                <li class="check-list-item">
                                    <label class="item-label" title="@manufacturer.Name">
                                        <input type="checkbox" tabindex="-1" value="@manufacturer.Id.ToString()" name="manufacturer"><img src="" height="16" width="16" align="absmiddle">@manufacturer.Name
                                    </label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="creators-dropdown" class="aui-dropdown2 aui-style-default ajs-layer" data-dropdown2-alignment="left">
    <form class="aui top-label aui-popup-content" id="creators_filter">
        <div class="field-group">
            <div class="check-list-select">
                <div class="check-list-field-container">
                    <input autocomplete="off" placeholder="Find User..." class="aui-field check-list-field" id="searcher-type-input" wrap="off">
                    <span class="aui-icon icon noloading">
                        <span>More</span>
                    </span>
                </div>
                <div class="aui-list">
                    <div class="aui-list-scroll" tabindex="-1">
                        <ul class="aui-list-section">
                            @foreach (var user in Model.Creators.OrderBy(u => u.Username))
                            {
                                <li class="check-list-item">
                                    <label class="item-label" title="@user.Username">
                                        <input type="checkbox" tabindex="-1" value="1">@Html.Gravatar(@user.EmailAddress, 16)@user.Username
                                    </label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>